In [12]:
import numpy as np
np.random.normal(60,5,(25))

array([58.68410589, 54.64540856, 53.41500943, 60.38759191, 58.65219286,
       57.73327969, 56.10345289, 54.51682052, 52.27624764, 65.35293234,
       63.40173066, 47.80511774, 62.33091867, 55.32417402, 60.9489457 ,
       57.36536741, 59.16145821, 70.51496059, 52.10001565, 56.19016905,
       64.09231512, 61.28681324, 63.84104342, 60.02074852, 59.22654154])

In [2]:
import pandas as pd

In [14]:
pd.__version__

'2.3.0'

In [10]:
df = pd.read_csv('../iris.csv')

In [34]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

통계항목  의미
count	결측값을 제외한 데이터 개수
mean	평균
std	    표준편차
min	    최소값
25%	    1사분위수 (Q1)
50%	    중간값 (Q2, median)
75%	    3사분위수 (Q3)
max	    최대값

In [10]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal.length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal.width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal.length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal.width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [11]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
df.iloc[:, -1] #컬럼마지막빼고 슬라이스

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [19]:
df.iloc[:, :-1]

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [23]:
col = ['sepal.length','sepal.width','petal.length','petal.width']
x = df[col]

In [25]:
y = df.iloc[:, -1]
y

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [27]:
data = df.iloc[:, :-1].values
data.shape

(150, 4)

In [33]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [32]:
pd.Series([1,2,3,4], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [31]:
d = {
    'a':1,
    'b':2,
}

pd.Series(d)

a    1
b    2
dtype: int64

In [36]:
d = {
    'a':1,
    'b':2,
    'c':3,
}
df = pd.DataFrame({'d1':d,'d2':d})

In [39]:
pd.DataFrame({'d1':d,'d2':d})

   d1  d2
a   1   1
b   2   2
c   3   3

In [37]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [38]:
df.columns

Index(['d1', 'd2'], dtype='object')

In [40]:
df['d1']

a    1
b    2
c    3
Name: d1, dtype: int64

In [41]:
df['d2']

a    1
b    2
c    3
Name: d2, dtype: int64

In [42]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [45]:
idx = pd.Index([1,2,3,4])
idx

Index([1, 2, 3, 4], dtype='int64')

In [48]:
idx[3], idx[-1], idx[1:3 ]

(np.int64(4), np.int64(4), Index([2, 3], dtype='int64'))

In [50]:
idx.shape, idx.dtype

((4,), dtype('int64'))

In [51]:
idx[1]=999

TypeError: Index does not support mutable operations

In [52]:
s = 'hello'
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [57]:
idx1 = pd.Index([1,3,5,7,9])
idx2 = pd.Index([2,3,5,7,11])
idx1 & idx2

Index([0, 3, 5, 7, 9], dtype='int64')

In [58]:
idx1.intersection(idx2)

Index([3, 5, 7], dtype='int64')

In [59]:
idx1 | idx2

Index([3, 3, 5, 7, 11], dtype='int64')

In [60]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [61]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [63]:
co1 = df['sepal.length']
type(co1)

pandas.core.series.Series

In [64]:
co1 = df['sepal.length']
co2 = df['sepal.width']
pd.DataFrame({'sepal.length':co1,
              'sepal.width':co2})

     sepal.length  sepal.width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [65]:
df.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [66]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'variety']

In [67]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [68]:
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [69]:
df['aaa'] = df['sepal_length']-df['sepal_width']

In [70]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6
1           4.9          3.0           1.4          0.2  Setosa  1.9
2           4.7          3.2           1.3          0.2  Setosa  1.5
3           4.6          3.1           1.5          0.2  Setosa  1.5
4           5.0          3.6           1.4          0.2  Setosa  1.4

In [72]:
mask = df['sepal_length'] >5
mask = df.sepal_length >5
df[mask]

     sepal_length  sepal_width  petal_length  petal_width    variety  aaa
0             5.1          3.5           1.4          0.2     Setosa  1.6
5             5.4          3.9           1.7          0.4     Setosa  1.5
10            5.4          3.7           1.5          0.2     Setosa  1.7
14            5.8          4.0           1.2          0.2     Setosa  1.8
15            5.7          4.4           1.5          0.4     Setosa  1.3
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  Virginica  3.7
146           6.3          2.5           5.0          1.9  Virginica  3.8
147           6.5          3.0           5.2          2.0  Virginica  3.5
148           6.2          3.4           5.4          2.3  Virginica  2.8
149           5.9          3.0           5.1          1.8  Virginica  2.9

[118 rows x 6 columns]

In [74]:
df[:1]

   sepal_length  sepal_width  petal_length  petal_width variety  aaa
0           5.1          3.5           1.4          0.2  Setosa  1.6

In [75]:
df['sepal_length']+1

0      6.1
1      5.9
2      5.7
3      5.6
4      6.0
      ...
145    7.7
146    7.3
147    7.5
148    7.2
149    6.9
Name: sepal_length, Length: 150, dtype: float64

In [76]:
new_df = df.iloc[:, :4].copy()

In [77]:
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [78]:
np.exp(new_df)

     sepal_length  sepal_width  petal_length  petal_width
0      164.021907    33.115452      4.055200     1.221403
1      134.289780    20.085537      4.055200     1.221403
2      109.947172    24.532530      3.669297     1.221403
3       99.484316    22.197951      4.481689     1.221403
4      148.413159    36.598234      4.055200     1.221403
..            ...          ...           ...          ...
145    812.405825    20.085537    181.272242     9.974182
146    544.571910    12.182494    148.413159     6.685894
147    665.141633    20.085537    181.272242     7.389056
148    492.749041    29.964100    221.406416     9.974182
149    365.037468    20.085537    164.021907     6.049647

[150 rows x 4 columns]

In [80]:
new_df['sepal_length'][1:] / new_df['sepal_width']

0           NaN
1      1.633333
2      1.468750
3      1.483871
4      1.388889
         ...
145    2.233333
146    2.520000
147    2.166667
148    1.823529
149    1.966667
Length: 150, dtype: float64

In [81]:
new_df['sepal_length'][1:].add(new_df['sepal_width'], fill_value=0)

0      3.5
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Length: 150, dtype: float64

In [84]:
np.sum(new_df.isna()),'nan', NaN

NameError: name 'NaN' is not defined

In [103]:
new_df['sepal_width'][3] = None

C:\Users\user\AppData\Local\Temp\ipykernel_8188\236970925.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  new_df['sepal_width'][3] = None

In [104]:
new_df['sepal_width']

0      3.5
1      3.0
2      3.2
4      3.6
5      3.9
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 149, dtype: float64

In [101]:
new_df.isna()

     sepal_length  sepal_width  petal_length  petal_width
0           False        False         False        False
1           False        False         False        False
2           False        False         False        False
4           False        False         False        False
5           False        False         False        False
..            ...          ...           ...          ...
145         False        False         False        False
146         False        False         False        False
147         False        False         False        False
148         False        False         False        False
149         False        False         False        False

[149 rows x 4 columns]

In [93]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [98]:
new_df.dropna(inplace=True) #inplace=True 되도록사용하지않기, 원본을 되돌리는것. 
new_df.dropna() #이렇게 사용하기.

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

In [97]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  149 non-null    float64
 3   petal_width   149 non-null    float64
dtypes: float64(4)
memory usage: 5.8 KB

In [102]:
new_df.fillna(0)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[149 rows x 4 columns]