In [1]:
import pandas as pd

In [3]:
import yfinance

In [ ]:
pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Collecting yfinance
  Downloading yfinance-0.2.65-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (2.3.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (2.3.0)
Requirement already satisfied: requests>=2.31 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (2.32.4)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.12.tar.gz (19 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (2025.2)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-py313-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.2.tar.gz (949 kB)
     ---------------------------------------- 0.0/949.2 kB ? eta -:--:--
     ------------------------------------- 949.2/949.2 kB 21.8 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (4.13.4)
Collecting curl_cffi>=0.7 (from yfinance)
  Downloading curl_cffi-0.12.0-cp39-abi3-win_amd64.whl.metadata (15 kB)
Collecting protobuf>=3.19.0 (from yfinance)
  Downloading protobuf-6.31.1-cp310-abi3-win_amd64.whl.metadata (593 bytes)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.1)
Requirement already satisfied: cffi>=1.12.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from curl_cffi>=0.7->yfinance) (2025.7.9)
Requirement already satisfied: pycparser in c:\users\user\appdata\roaming\python\python313\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\user\appdata\roaming\python\python313\site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\roaming\python\python313\site-packages (from requests>=2.31->yfinance) (2.5.0)
Downloading yfinance-0.2.65-py2.py3-none-any.whl (119 kB)
Downloading curl_cffi-0.12.0-cp39-abi3-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ---------------------------------------- 1.6/1.6 MB 16.7 MB/s eta 0:00:00
Downloading frozendict-2.4.6-py313-none-any.whl (16 kB)
Downloading protobuf-6.31.1-cp310-abi3-win_amd64.whl (435 kB)
Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl (176 kB)
Building wheels for collected packages: multitasking, peewee
  Building wheel for multitasking (pyproject.toml): started
  Building wheel for multitasking (pyproject.toml): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15703 sha256=df3e1283ea2fb2e8a18cac4ca323ad29d1e8017d38f7498f76ca27fd9794183d
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\1e\df\0f\e2bbb22d689b30c681feb5410ab64a2523437b34c8ecfc6476
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.18.2-py3-none-any.whl size=139153 sha256=732b5e34469eb6e09d3c8e4725922365210db5954b69b1474d6735dc151d8918
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\1c\48\cc\00b7d0e7defa21a58915654917c89eaedd32a6e614d8e4ad92
Successfully built multitasking peewee
Installing collected packages: peewee, multitasking, websockets, protobuf, frozendict, curl_cffi, yfinance

   ---------------------------------------- 0/7 [peewee]
   ----------- ---------------------------- 2/7 [websockets]
   ----------------- ---------------------- 3/7 [protobuf]
   ---------------------- ----------------- 4/7 [frozendict]
   ---------------------------------- ----- 6/7 [yfinance]
   ---------------------------------------- 7/7 [yfinance]

Successfully installed curl_cffi-0.12.0 frozendict-2.4.6 multitasking-0.0.12 peewee-3.18.2 protobuf-6.31.1 websockets-15.0.1 yfinance-0.2.65
Note: you may need to restart the kernel to use updated packages.

pandas 업그레이드

In [1]:
pip install -U yfinance pandas matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\user\appdata\roaming\python\python313\site-packages (0.2.65)
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python313\site-packages (2.3.0)
Collecting pandas
  Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: matplotlib in c:\users\user\appdata\roaming\python\python313\site-packages (3.10.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (2.3.0)
Requirement already satisfied: requests>=2.31 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (0.12.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (6.31.1)
Requirement already satisfied: websockets>=13.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.1)
Requirement already satisfied: cffi>=1.12.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from curl_cffi>=0.7->yfinance) (2025.7.9)
Requirement already satisfied: pycparser in c:\users\user\appdata\roaming\python\python313\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\user\appdata\roaming\python\python313\site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\roaming\python\python313\site-packages (from requests>=2.31->yfinance) (2.5.0)
Downloading pandas-2.3.1-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------  10.7/11.0 MB 68.1 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 55.9 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.3.0
    Uninstalling pandas-2.3.0:
      Successfully uninstalled pandas-2.3.0
Successfully installed pandas-2.3.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf

In [3]:
yf.__version__

'0.2.65'

In [4]:
df = yf.download(['MSFT', 'AAPL'], period='1no')

C:\Users\user\AppData\Local\Temp\ipykernel_13156\3652874090.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(['MSFT', 'AAPL'], period='1no')
[*********************100%***********************]  2 of 2 completed

2 Failed downloads:
['MSFT']: YFInvalidPeriodError("MSFT: Period '1no' is invalid, must be one of: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max")
['AAPL']: YFInvalidPeriodError("AAPL: Period '1no' is invalid, must be one of: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max")

In [5]:
df.index.is_monotiric_increasing

AttributeError: 'DatetimeIndex' object has no attribute 'is_monotiric_increasing'

161~167 실습

In [7]:
import pandas as pd
import numpy as np

In [ ]:
def make_df(cols, ind):
    "빠르게 DataFrame 생성"
    data = {c: [str(c)+str(i) for i in ind]
        for c in cols}
    return pd.DataFrame(data, ind)

In [11]:
df_state = pd.read_csv('state-abbrevs.csv')
df_state.head(), df_state.shape

(        state abbreviation
 0     Alabama           AL
 1      Alaska           AK
 2     Arizona           AZ
 3    Arkansas           AR
 4  California           CA,
 (51, 2))

In [16]:
df_area = pd.read_csv('state-areas.csv')
df_area.head(), df_area.shape

(        state  area (sq. mi)
 0     Alabama          52423
 1      Alaska         656425
 2     Arizona         114006
 3    Arkansas          53182
 4  California         163707,
 (52, 2))

In [12]:
df_pop = pd.read_csv('state-population.csv')
df_pop.head(), df_pop.shape

(  state/region     ages  year  population
 0           AL  under18  2012   1117489.0
 1           AL    total  2012   4817528.0
 2           AL  under18  2010   1130966.0
 3           AL    total  2010   4785570.0
 4           AL  under18  2011   1125763.0,
 (2544, 4))

In [13]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state/region  2544 non-null   object
 1   ages          2544 non-null   object
 2   year          2544 non-null   int64
 3   population    2524 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 79.6+ KB

In [17]:
pd.merge(df_state, df_area, how='inner', left_on='state', right_on='state')

                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818

In [18]:
m_df = pd.merge(df_state, df_area, how='inner', left_on='state', right_on='state')
m_df.head()

        state abbreviation  area (sq. mi)
0     Alabama           AL          52423
1      Alaska           AK         656425
2     Arizona           AZ         114006
3    Arkansas           AR          53182
4  California           CA         163707

In [ ]:
m_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          51 non-null     object
 1   abbreviation   51 non-null     object
 2   area (sq. mi)  51 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [20]:
pd.merge(df_pop, m_df, left_on='state/region', right_on='abbreviation')

,state/region,ages,year,population,state,abbreviation,area (sq. mi)
0,AL,under18,2012,1117489.0,Alabama,AL,52423
1,AL,total,2012,4817528.0,Alabama,AL,52423
2,AL,under18,2010,1130966.0,Alabama,AL,52423
3,AL,total,2010,4785570.0,Alabama,AL,52423
4,AL,under18,2011,1125763.0,Alabama,AL,52423
...,...,...,...,...,...,...,...
2443,WY,under18,1993,137458.0,Wyoming,WY,97818
2444,WY,total,1991,459260.0,Wyoming,WY,97818
2445,WY,under18,1991,136720.0,Wyoming,WY,97818
2446,WY,under18,1990,136078.0,Wyoming,WY,97818
2447,WY,total,1990,453690.0,Wyoming,WY,97818